<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.ataulm.basic">

  <application
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme">

    <activity android:name="com.ataulm.basic.MyActivity" />

    <activity-alias
      android:name="activity.primary_launcher"
      android:targetActivity="com.ataulm.basic.MyActivity">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

    </activity-alias>

    <meta-data
      android:name="io.fabric.ApiKey"
      android:value="247b1f462a037e918653a0e548cd530fe1530251" />

  </application>

</manifest>
