<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.ataulm.basic">

  <application>

    <activity
      android:theme="@style/Theme.AppCompat.Light.NoActionBar"
      android:name="com.ataulm.basic.UhOhActivity"
      android:label="@string/activity_label_uh_oh" />

  </application>

</manifest>
